<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Manage Teacher</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/public/css/Admin/admin_manage.css">
</head>

<body>
    <nav><img id="imgnav" src="/public/img/Header-School-IT-MFU_Thai.png" alt=""></nav>

    <nav class="navbar navbar-light navbar-expand-lg" style="background-color: #253b6d;">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" style="color: white;" aria-current="page"
                            href="/admin/homepage">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color: white;" href="/admin/manage">MANAGE
                            TEACHER</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color: white;" href="/admin/officehours">OFFICE HOURS</a>
                    </li>
                </ul>
            </div>
            <div>
                <button type="button" class="btn btn-danger" onclick="logout()">Logout</button>
            </div>
        </div>
    </nav>
    <div class="row sandim">
        <div class="col-md-2">
            <div class="mt-2 float-start" style="margin-left: 10px;">
                <form action="#" method="GET" id="searchForm">
                    <input type="text" id="searchInput" onkeyup="searchTeachers()" placeholder="Search...">
                    <button type="submit">Search</button>
                </form>
            </div>
        </div>
        <div class="col mt-2">
            <button type="button" class="float-start" id="importBt" data-bs-toggle="modal"
                data-bs-target="#importModal">Import</button>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="importModal" tabindex="-1" aria-labelledby="importModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="importModalLabel">Import Data</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/import" method="POST" enctype="multipart/form-data">
                        <input type="file" name="file" id="excelFile" accept=".xlsx, .xls">
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" id="uploadBtn">Upload</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="container my-4">
        <div class="card-container" id="cardContainer">
            <!-- Cards will be added dynamically here -->
        </div>
    </div>

    <script>

        function toggleAvailability(id) {
            // console.log(id);
            const checkbox = document.getElementById(`available-${id}`);
            const available = checkbox.checked ? 'on' : 'off';

            fetch(`/data/${id}/available`, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ available }),
            })
                .then(response => response.json())
                .then(data => {
                    if (data.message === 'Availability updated successfully.') {
                        updateCardStyle(id, available);
                        reorderCards();
                    } else {
                        alert('Error updating availability: ' + data.message);
                    }
                })
                .catch(error => console.error('Error:', error));
        }


        function updateCardStyle(id, available) {
            const card = document.getElementById(`card-${id}`);
            if (available === 'off') {
                card.style.opacity = '0.5';
            } else {
                card.style.opacity = '1';
            }
        }

        function reorderCards() {
            const cardContainer = document.getElementById('cardContainer');
            const cards = Array.from(cardContainer.getElementsByClassName('card'));

            cards.sort((a, b) => {
                const availableA = a.querySelector('.form-check-input').checked ? 0 : 1;
                const availableB = b.querySelector('.form-check-input').checked ? 0 : 1;
                return availableA - availableB;
            });

            cards.forEach(card => cardContainer.appendChild(card));
        }



        function updateAvailableStatus(email, available) {
            fetch('/data/available', {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ email, available })
            })
                .then(response => response.json())
                .then(data => {
                    if (data.message !== 'Available status updated successfully.') {
                        alert('Error: ' + data.message);
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('Error updating available status. Please try again.');
                });
        }

        document.addEventListener('DOMContentLoaded', function () {
            fetch('/data/images')
                .then(response => response.json())
                .then(data => {
                    const cardContainer = document.getElementById('cardContainer');
                    data.forEach(item => {
                        const card = document.createElement('div');
                        card.className = 'card';
                        card.id = `card-${item.data_id}`;
                        card.innerHTML = `
                        <img src="${item.image || 'https://via.placeholder.com/150'}" class="card-img-top" alt="Image">
                        <div class="card-body">
                            <h5 class="card-title" style="font-size: 17px;">${item.name}</h5>
                            <p class="card-text">Major: ${item.major}</p>
                            <p class="card-text">Email: ${item.email}</p>
                            <p class="card-text">Tel: ${item.tel}</p>
                            <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="available-${item.data_id}" ${item.available === 'on' ? 'checked' : ''} onchange="toggleAvailability(${item.data_id})">
                            <label class="form-check-label" for="available-${item.data_id}">Available</label>
                            </div>
                        </div>
                        `;
                        cardContainer.appendChild(card);
                        updateCardStyle(item.data_id, item.available); // Set initial card style
                    });
                    reorderCards(); // Reorder cards initially
                })
                .catch(error => console.error('Error fetching data:', error));
        });
        

        function searchTeachers() {
            var input, filter, cardContainer, cards, cardBody, i, txtValue;
            input = document.getElementById('searchInput');
            filter = input.value.toLowerCase();
            cardContainer = document.getElementById('cardContainer');
            cards = cardContainer.getElementsByClassName('card');

            for (i = 0; i < cards.length; i++) {
                cardBody = cards[i].getElementsByClassName('card-body')[0];
                txtValue = cardBody.textContent || cardBody.innerText;
                if (txtValue.toLowerCase().indexOf(filter) > -1) {
                    cards[i].style.display = "";
                } else {
                    cards[i].style.display = "none";
                }
            }
        }

        // เรียกใช้งาน modal โดยใช้ Bootstrap
        var myModal = new bootstrap.Modal(document.getElementById('importModal'));

        // เมื่อกดปุ่ม Import ให้แสดง modal
        document.getElementById('importBt').addEventListener('click', function () {
            myModal.show();
        });

        // เมื่อปิด Modal ให้เครียร์ค่าของ input element
        document.getElementById('importModal').addEventListener('hidden.bs.modal', function () {
            document.getElementById('excelFile').value = ''; // เครียร์ค่าของ input element
        });

        document.getElementById('uploadBtn').addEventListener('click', function () {
            var formData = new FormData();
            var fileInput = document.getElementById('excelFile');
            var file = fileInput.files[0];

            if (file) {
                formData.append('file', file);

                fetch('/import', {
                    method: 'POST',
                    body: formData
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.message === "Data imported, updated, and cleaned up successfully.") {
                            alert("Data imported successfully.");
                            window.location.reload(); // Refresh the page to see changes
                        } else {
                            alert("Error: " + data.message);
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                        alert("Error importing data. Please try again.");
                    });
            } else {
                alert("Please select a file to upload.");
            }
        });

        function logout() {
            fetch('/logout', { method: 'POST' }) // Adjust the logout endpoint as needed
                .then(() => {
                    window.location.href = '/login'; // Redirect to login after logout
                })
                .catch(error => console.error('Error logging out:', error));
        }
    </script>
</body>

</html>