.container {
    max-width: 1650px;
    /* เพิ่มความกว้างสูงสุดของ container */
}

#importBt {
    background-color: orange;
    border-radius: 5%;
    font-weight: bold;
}

#imgt {
    height: 280px;
    width: 200px;
}

#imgnav {
    max-width: 100%;
    transition: all 0.3s ease;
}

.col {
    width: 25%;
    /* แบ่งคอลัมน์เป็น 4 ส่วนเท่าๆ กัน */
}

.sandim {
    max-width: 1850px;
}

.switch-btn {
    height: 20px;
    /* width: 100%; */
}

.card-container {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.card {
    flex: 1 1 calc(25% - 1rem);
    /* Flex basis for 4 columns, adjust as needed */
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: #fff;
    /* Background color for cards */
    border: none;
    /* Border for better visibility */
    border-radius: 0.5rem;
    /* Rounded corners */
    overflow: hidden;
    /* Hide overflowing content */

}

.card-img-top {
    height: 280px;
    width: 200px;
    object-fit: cover;
}

.card-body {
    flex: 1;
    /* Allow the body to take up remaining space */
    padding: 1rem;
    /* Add padding inside the card */
}

.card-title {
    font-size: 1.25rem;
    /* Font size for the title */
    margin-bottom: 0.5rem;
    /* Space below the title */
}

.card-text {
    margin-bottom: 0.5rem;
    /* Space between text elements */
}

.card-footer {
    padding: 1rem;
    /* Padding at the bottom of the card */
    background-color: #f8f9fa;
    /* Background color for footer */
    border-top: 1px solid #ddd;
    /* Border at the top of the footer */
}

.hide-switch {
    display: none;
}