
.container {
    max-width: 1650px; /* เพิ่มความกว้างสูงสุดของ container */
}

#importBt {
    background-color: orange;
    border-radius: 5%;
    font-weight: bold;
}

#imgt{
    height: 280px;
    width: 200px;
}
#imgnav {
    max-width: 100%;
    transition: all 0.3s ease;
}

.col {
    width: 25%; /* แบ่งคอลัมน์เป็น 4 ส่วนเท่าๆ กัน */
}

.sandim {
    max-width: 1850px;
}

