.container {
    max-width: 1400px;
    /* เพิ่มความกว้างสูงสุดของ container */
}

#imgnav {
    max-width: 100%;
    transition: all 0.3s ease;
}


form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
}

input,
select {
    padding: 8px;
    font-size: 16px;
    margin-bottom: 15px;
}

.headtext {
    font-size: 20px;
    font-weight: bold;
}

.discription {
    font-size: 20px;
}

.semester-card {
    border: 2px solid #ddd;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 8px;
    padding: 15px; /* ลด padding ด้านบนล่างเหลือ 8px แต่คงด้านซ้ายขวาไว้ที่ 15px */
    margin: 12px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .action-button {
    width: fit-content;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* height: 50px; */
    /* border-radius: 25px; */
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
  }
  #semesterList {
    margin-top: 20px;
  }
  .action-button2{
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2),
      0 2px 2px 0 rgba(0, 0, 0, 0.19);
  }

  .bts {
    color: white;
    background-color: blueviolet;
}