<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Calendar</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/public/css/student/student_calenderstyle.css">
</head>

<body>
    <nav><img id="imgnav" src="/public/img/Header-School-IT-MFU_Thai.png" alt=""></nav>

    <nav class="navbar navbar-light navbar-expand-lg" style="background-color: #253b6d;">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" style="color: white;" aria-current="page"
                            href="/views/student/student_homepage.html">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color: white;"
                            href="/views/student/student_statusappointment.html">STATUS APPOINTMENT</a>
                    </li>
                </ul>
            </div>
            <div>
                <button type="button" class="btn btn-danger">Logout</button>
            </div>
        </div>
    </nav>

    <!-- <div class="container mt-5">
        <div class="row">
            <div class="col-md-4">
                <div class="float-start">
                    <img id="imgt" src="/public/img/ดร.ธีรวิศิฏฐ์_01.jpg" alt=""
                        style="width: 200px; display: block; margin-left: auto; margin-right: auto;">
                </div>
            </div>
            <div class="col-md-8">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Time/Day</th>
                                <th scope="col">8:00 - 8:30</th>
                                <th scope="col">8:30 - 9:00</th>
                                <th scope="col">9:00 - 9:30</th>
                                <th scope="col">9:30 - 10:00</th>
                                <th scope="col">10:00 - 10:30</th>
                                <th scope="col">10:30 - 11:00</th>
                                <th scope="col">11:00 - 11:30</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">Sunday</th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">Monday</th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">Tuesday</th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">Wednesday</th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">Thursday</th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">Friday</th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">Saturday</th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div> -->


    <div class="container">
        <div class="date">
            <h3>April 2024</h3>
            <div class="days">
                <div class="day">Su</div>
                <div class="day">Mo</div>
                <div class="day">Tu</div>
                <div class="day">We</div>
                <div class="day">Th</div>
                <div class="day">Fr</div>
                <div class="day">Sa</div>

                <div class="number">1</div>
                <div class="number">2</div>
                <div class="number">3</div>
                <div class="number">4</div>
                <div class="number">5</div>
                <div class="number">6</div>
                <div class="number">7</div>
                <div class="number">8</div>
                <div class="number">9</div>
                <div class="number">10</div>
                <div class="number">11</div>
                <div class="number">12</div>
                <div class="number  active">13</div>
                <div class="number">14</div>
                <div class="number">15</div>
                <div class="number">16</div>
                <div class="number">17</div>
                <div class="number">18</div>
                <div class="number">19</div>
                <div class="number">20</div>
                <div class="number">21</div>
                <div class="number">22</div>
                <div class="number">23</div>
                <div class="number">24</div>
                <div class="number">25</div>
                <div class="number">26</div>
                <div class="number">27</div>
                <div class="number">28</div>
                <div class="number">29</div>
                <div class="number">30</div>
                <div class="number">31</div>
            </div>

        </div>
        <div style="margin-right: 20px;" class="image">
            <img id="imgt" src="/public/img/ดร.ธีรวิศิฏฐ์_01.jpg" alt=""
            style="width: 300px; display: block; margin-left: auto; margin-right: auto; margin-top: 20px;">
            <br>
            <div style="text-align: center;">
            <p class="mt-2 mb-0">ผู้ช่วยศาสตราจารย์ ดร.ภัทรมน วุฒิพิทยามงคล</p>
            <p class="mb-0">Asst. Prof. Pattaramon Vuttipittayamongkol, PhD</p>
            <p>053-916762</p>
            </div>
            
        </div>
    </div>
</body>

</html>
