<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Appointment</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/public/css/student/student_appointment.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>
    <nav><img id="imgnav" src="/public/img/Header-School-IT-MFU_Thai.png" alt=""></nav>

    <nav class="navbar navbar-light navbar-expand-lg" style="background-color: #253b6d;">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" style="color: white;" aria-current="page"
                            href="/views/student/student_homepage.html">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color: white;"
                            href="/views/student/student_statusappointment.html">STATUS APPOINTMENT</a>
                    </li>
                </ul>
            </div>
            <div>
                <button type="button" class="btn btn-danger">Logout</button>
            </div>
        </div>
    </nav>

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-3">
                <div style="display: inline-block; text-align: center;">
                    <img id="imgt" src="/public/img/ดร.ธีรวิศิฏฐ์_01.jpg" alt=""
                        style="width: 150px; display: block; margin-left: auto; margin-right: auto; margin-top: 20px;">
                    <p class="mt-2 mb-0 fs-6">ผู้ช่วยศาสตราจารย์ ดร.ธีรวิศิฏฐ์ เลาหะเพ็ญแสง</p>
                    <p class="mb-0 fs-6">Asst.Prof.Teeravisit Laohapensaeng, PhD</p>
                    <p class="fs-6">053-916744</p>
                </div>
            </div>
            <div class="col-md-9 coltable">
                <div class="d-flex justify-content-end" style="margin-bottom: 10px; margin-top: 10px;">
                    <i class="fa fa-arrow-left" style="margin-right: 5px;"></i>
                    <i class="fa fa-arrow-right" style="margin-right: 5px;"></i>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col" style="float: inline-start;">Time/Day</th>
                                <th scope="col">08:00-08:30</th>
                                <th scope="col">08:30-09:00</th>
                                <th scope="col">09:00-09:30</th>
                                <th scope="col">09:30-10:00</th>
                                <th scope="col">10:00-10:30</th>
                                <th scope="col">10:30-11:00</th>
                                <th scope="col">11:00-11:30</th>
                                <th scope="col">11:30-12:00</th>
                                <th scope="col">12:00-12:30</th>
                                <th scope="col">12:30-13:00</th>
                                <th scope="col">13:00-13:30</th>
                                <th scope="col">13:30-14:00</th>
                                <th scope="col">14:00-14:30</th>
                                <th scope="col">14:30-15:00</th>
                                <th scope="col">15:00-15:30</th>
                                <th scope="col">15:30-16:00</th>
                                <th scope="col">16:00-16:30</th>
                                <th scope="col">16:30-17:00</th>
                                <th scope="col">17:00-17:30</th>
                                <th scope="col">17:30-18:00</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">
                                    <div>Sunday</div>
                                    <div>14/4/67</div>
                                </th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    <div>Monday</div>
                                    <div>15/4/67</div>
                                </th>
                                <td class="bg-secondary leave" onclick="alert('leave')"></td>
                                <td class="bg-secondary leave" onclick="alert('leave')"></td>
                                <td class="bg-secondary leave" onclick="alert('leave')"></td>
                                <td class="bg-secondary leave" onclick="alert('leave')"></td>
                                <td class="bg-secondary leave" onclick="alert('leave')"></td>
                                <td class="bg-secondary leave" onclick="alert('leave')"></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    <div>Tuesday</div>
                                    <div>16/4/67</div>
                                </th>
                                <td class="bg-warning" onclick="alert('Waiting for Appointment')"></td>
                                <td class="bg-success available-cell"></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="bg-danger" onclick="alert('Unavailable')"></td>
                                <td class="bg-success available-cell"></td>
                                <td class="bg-success available-cell"></td>
                                <td class="bg-success available-cell"></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    <div>Wednesday</div>
                                    <div>17/4/67</div>
                                </th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="bg-success available-cell"></td>
                                <td class="bg-success available-cell"></td>
                                <td class="bg-success available-cell"></td>
                                <td class="bg-success available-cell"></td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    <div>Thursday</div>
                                    <div>18/4/67</div>
                                </th>
                                <td></td>
                                <td></td>
                                <td class="bg-success available-cell"></td>
                                <td class="bg-success available-cell"></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    <div>Friday</div>
                                    <div>19/4/67</div>
                                </th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    <div>Saturday</div>
                                    <div>20/4/67</div>
                                </th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="circlewraper">
            <div class="rowcircle mt-5">
                <div class="circle bg-success">
                </div>
                <p style="font-weight: bold; margin-left: 5px;">Available</p>
            </div>
            <div class="rowcircle mt-5">
                <div class="circle bg-danger">
                </div>
                <p style="font-weight: bold; margin-left: 5px;">Unavailable</p>
            </div>
            <div class="rowcircle mt-5">
                <div class="circle bg-warning">
                </div>
                <p style="font-weight: bold; margin-left: 5px;">Waiting</p>
            </div>
            <div class="rowcircle mt-5">
                <div class="circle bg-secondary">
                </div>
                <p style="font-weight: bold; margin-left: 5px;">Leave</p>
            </div>
        </div>
    </div>

    <script>
        // สร้างฟังก์ชัน JavaScript เพื่อดึงข้อมูลของหัวตารางเฉพาะสำหรับคอลัมน์ที่คลิก
function getTableHeaderForColumn(columnIndex) {
    const headers = document.querySelectorAll('.table-bordered thead th');
    const headerText = headers[columnIndex].innerText;
    return headerText;
}

// เลือกทุกช่องที่มีคลาส "available-cell"
const availableCells = document.querySelectorAll('.available-cell');

// วนลูปผ่านทุกช่องที่มีคลาส "available-cell" เพื่อกำหนดค่า onclick
availableCells.forEach(cell => {
    cell.onclick = () => {
        // ดึงข้อความจากแถวและคอลัมน์ของช่องที่ถูกคลิก
        const row = cell.parentElement.children[0].innerText.trim();
        const columnText = cell.innerText.trim();

        // แยกข้อความวันที่และเวลาออกจากกัน
        const day = row.split('\n')[0];
        const date = row.split('\n')[1];
        const time = columnText;

        // ดึงข้อมูลหัวตารางเฉพาะสำหรับคอลัมน์ที่คลิก
        const columnIndex = cell.cellIndex;
        const tableHeader = getTableHeaderForColumn(columnIndex);

        // แสดง SweetAlert พร้อมกับข้อความของเวลาและวันที่และข้อมูลหัวตารางเฉพาะสำหรับคอลัมน์ที่คลิก
        Swal.fire({
            title: "Topic or Details",
            html: `<div>${day}</div><div>${date}</div><div>${time}</div><div>${tableHeader}</div>`,
            input: "textarea",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Appointment"
        }).then((result) => {
            if (result.isConfirmed) {
                // แสดง SweetAlert สำหรับการนัดหมายพร้อมข้อมูลที่ผู้ใช้ป้อน
                Swal.fire({
                    title: "Appointment",
                    text: result.value,
                    icon: "success"
                });
            }
        });
    };
});



    </script>
</body>

</html>