*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
body{
  font-family: sans-serif;
  color: white;
  background-color: #fff;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

}
.container{
  position: relative;
  height: 500px;
  width: 700px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(red, green, blue);
  box-shadow: 0 20px 25px 25px rgba(0, 0, 0, 0.5);
}
.container .image{
  position: absolute;
  top: 0;
  left: 0;
  }
  .container .img{
    height: 500px;
    padding: 30px;
  }