.row {
        box-sizing: border-box;
    }

    #imgt{
        height: 280px;
        width: 200px;
    }
    #imgnav {
        max-width: 100%;
        transition: all 0.3s ease;
    }

    .container {
        max-width: 1650px; /* เพิ่มความกว้างสูงสุดของ container */
    }
    
    .col {
        width: 25%; /* แบ่งคอลัมน์เป็น 4 ส่วนเท่าๆ กัน */
    }

    .sandim {
        max-width: 1850px;
    }

    .sandim {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    .search-container {
        display: flex;
        align-items: center;
    }
    
    .date-container {
        display: flex;
        align-items: center;
        margin-top: 10px;
    }
    
    #searchForm {
        display: flex;
        align-items: center;
    }
    
    #searchInput {
        margin-right: 10px;
    }
    
    @media (max-width: 768px) {
        .sandim {
            flex-direction: column;
            align-items: flex-start;
        }
        .search-container, .date-container {
            width: 100%;
            margin-bottom: 10px;
        }
        .date-container {
            justify-content: flex-start;
            margin-top: 0;
        }
    }
    